# IntelliJ project files
.idea
*.iml
out
gen

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
index.js.map

/vendor/

composer.lock

/.php[_|-]cs*.cache
/cache/
!.github/

phpstan.neon
